/* Agregue una regla de estilo a su elemento h1 cambiando el color del texto (Listado de colores: https://www.crockford.com/wrrrld/color.html).
F. Agregue una regla de estilo al elemento img dándole un ancho de 400px.
G. Agregue una regla de estilo a 'thirdDiv' cambiando la altura a 600px y el ancho a 500px.
H. Agregue una regla de estilo a 'thirdDiv' cambiando el color de fondo por el que quiera.
I. Cambie el tamaño de la fuente para 'spanId' a 18px.
J. Asignar al id 'spanId' un margen de 50px.
K. Asignar al id 'thirdDiv' un relleno (padding) de 50px.
L. Asignar al id 'thirdDiv' un borde con cualquier ancho de color y estilo que elija. */

body {
    background-image: url("https://images8.alphacoders.com/101/1015027.jpg");
    background-size: cover;
    text-align: center;
    display: table;
    justify-content: center;
    flex-direction: column;
    margin-left: 640px;
}

h1 {
    color: #282846;
}

img {
    width: 400px;
}

.thirdDiv {
    height: 600px;
    width: 500px;
    background-color: #007580;
    padding: 50px;
    border: solid #449ea7 3px;
    justify-content: s;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}

a {
    color: black;
}

li {
    list-style-type: none;
}